* {box-sizing: border-box;}


.header {

  padding: 10px 15px;
  background: transparent;
  color: black;
  height: 100%;
  width: 100%;

}

.header a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/*.logo {
  background-image: url("../../assets/images.jpg");
  height: 287px;
  width: 343px;
  padding: 1%;
!*  font-size: 2vw;
  font-weight: bold;
  color: #dddddd;
  padding-left: 3%;*!
}*/

.header a:hover {
  background-color: #0461c4;
  color: black;
}

.header a.active {
  background-color: #0461c4;
  color: white;
}

.header-right {
  float: right;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}


/*
Responsiveness for Laptops*/
@media screen and (max-width: 1632px) {}
@media screen and (max-width: 1536px) {}
@media screen and (max-width: 1440px) {}
@media screen and (max-width: 1344px) {}

/*Responsiveness for Tablets*/
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 770px) {}


/*Responsiveness for Phones*/
@media screen and (max-width: 375px) {}
@media screen and (max-width: 414px) {}
@media screen and (max-width: 360px) {}
