<!--
<div class="header">


  &lt;!&ndash;<img src="assets/Image%20from%20iOS%20(7).jpg" style="width: 250px;height: 200px; background: transparent;">
  &ndash;&gt;<div class="header-right">

    <a class="active" href="#home">Services</a>
    <a href="#contact">Feedback</a>
    <a href="#about">Contact</a>

  </div>

</div>
-->
<!--

<div class="header">
  <div class="container">
    <h1>
      Header Demo
    </h1>
    <nav class="nav">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>

      </ul>
    </nav>
  </div>
</div>
-->
<nav>
  <div class="bound">
    <div class="hor">
      <div class="ver-12">
        <input type="checkbox" id="check" [(ngModel)]="check">
        <label for="check" class="checkbtn">
          <i class="fa fa-bars"></i>
        </label>
        <label class="logo"><a routerLink="/"><img src="../../assets/logo.png"></a></label>
        <ul>
          <li><a class="h-gold"  name="delivery">Services</a></li>
          <li><a class="h-gold" >Feedback</a></li>
          <li ><a class="h-gold"  >Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
