/** {box-sizing: border-box;}


.header {

  padding: 10px 15px;
  background: transparent;
  color: black;
  height: 100%;
  width: 100%;

}

.header a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  background-color: .0461c4;
  color: black;
}

.header a.active {
  background-color: .0461c4;
  color: white;
}

.header-right {
  float: right;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
  }

  .header-right {
    float: none;
  }
}*/


/*
!*
Responsiveness for Laptops*!
@media screen and (max-width: 1632px) {}
@media screen and (max-width: 1536px) {}
@media screen and (max-width: 1440px) {}
@media screen and (max-width: 1344px) {}
*/

/*
!*Responsiveness for Tablets*!
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 770px) {}
*/


/*Responsiveness for Phones*/
/*@media screen and (max-width: 375px) {}
@media screen and (max-width: 414px) {}
@media screen and (max-width: 360px) {}*/

/*
body {
  background: .6699ff;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}*/
.container {
  position: relative;
  margin: 0 auto;
  width: 94%;
  max-width: 1100px;
  font-family: helvetica, sans-serif;
}
.content {
  position: relative;
  padding-top: 80px;
}
.content p {
  margin-bottom: 10px;
}
.header {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: none;
  color: white;
}
.header h1 {
  top: 0px;
  margin: 0px;
  text-transform: uppercase;
  font-size: 1.2em;
  color: white;
}
.nav {
  position: absolute;
  right: 0;
  top: -15px;
  height: 60px;
  color: white;
}
.nav ul li {
  float: left;
  list-style: none;
}
.nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

@media (max-width: 599px) {
  .header .container {
    width: 100%;
  }
  .header h1 {
    padding-left: 3%;
  }
  .nav {
    width: 100%;
    top: 60px;
  }
  .nav:before {
    content: '\2630';
    display: block;
    position: absolute;
    right: 3%;
    top: -50px;
    line-height: 40px;
    font-size: 1.4em;
    cursor: pointer;
  }
  .nav ul {
    background: #222;
    width: 100%;
    margin: 0px;
  }
  .nav ul li {
    float: none;
  }
  .nav ul li a {
    padding: 10px 3%;
    line-height: 20px;
    border-top: 1px solid #333;
  }
}
