.main-footer-div{
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height: 20vh;
  background-color: #f7f7f7;

}
.footermain{
  width: 100%;
  height: 18vh;


}
.footermain div {
  width: 33.33%;
  height: 100%;
}

.our-services{
  float: left;
}
.calligraphy{
  float: left;
  margin-top: 4%;
}
.about-us{
  float: right;
}

.copyrights{
  margin-bottom: 0px;
  bottom: 0;
  height: 2vh;

}


/*
Responsiveness for Laptops*/
@media screen and (max-width: 1632px) {}
@media screen and (max-width: 1536px) {}
@media screen and (max-width: 1440px) {}
@media screen and (max-width: 1344px) {}

/*Responsiveness for Tablets*/
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 770px) {}


/*Responsiveness for Phones*/
@media screen and (max-width: 375px) {}
@media screen and (max-width: 414px) {}
@media screen and (max-width: 360px) {}
