<div class="main-footer-div">
 <!--Footer main-->  <!--main div-->
<div class="footermain">

<!--Our Services -->
  <div class="our-services" ><h2>Our Services</h2>
    <ul>
      <li>E Commerce</li>
      <li>Artifical Intelligence</li>
      <li>Digital Transformation</li>
      <li>Business Process Automation</li>
    </ul>
  </div>

<!-- Calligraphy-->
  <div class="calligraphy">
    <b>mizoso</b>
  </div>



<!-- About Us -->
  <div class="about-us">
    <h2>About Us</h2>
  <p>Mizoso Traders is an IT System Integration
    Professional Service and Software Development
    Company in Pakistan. As a Privately owned
    Company,Mizoso Provides IT Consultancy
    Software Design & Development as well as
    professional Services </p>
  </div>



<!--  Copyrights-->



</div>


<!--all rights reserved-->
  <div class="copyrights">
    @2020 Mizoso.All Right Reserved.Terms of Use.Privacy Policy
  </div>


</div>
