.main-footer-div{
  height: 10vh;

}
.footermain{
  width: 100%;
  height: 8vh;
  float: left;

}
.footermain div {
  width: 33.33%;
  height: 100%;
}









.copyrights{
  margin-bottom: 0;
  height: 2vh;
}
