.main-footer-div{
  margin-left:auto;
  margin-right:auto;
  height:auto;
  width:auto;

}
.footermain{
  width: 100%;


}
.footermain div {
  width: 33.33%;
  height: 100%;
}

.our-services{
  float: left;
}
.calligraphy{
  float: left;
  margin-top: 4%;
}
.about-us{
  float: right;
}

.copyrights{
  margin-bottom: 0px;
  bottom: 0;

}
