@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.main-footer-div{
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height: 32vh;
  background-color: #f7f7f7;

}
.footermain{
  width: 100%;
  height: 25vh;


}
.footermain div {
  width: 30%;
}

.our-services{
  float: left;
}
.calligraphy{
  float: left;
  font-family: 'Raleway', sans-serif;
  font-size: 3vw;
  padding-top: 1%;
  text-align: center;
}
.about-us{
  float: right;
}

.copyrights{
  margin-bottom: 0px;
  bottom: 0;
  height: 7vh;
  text-align: center;
  padding: 1%;

}


/*
Responsiveness for Laptops*/
@media screen and (max-width: 1632px) {}
@media screen and (max-width: 1536px) {}
@media screen and (max-width: 1440px) {}
@media screen and (max-width: 1344px) {}

/*Responsiveness for Tablets*/
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 770px) {}


/*Responsiveness for Phones*/
@media screen and (max-width: 375px) {}
@media screen and (max-width: 414px) {}
@media screen and (max-width: 360px) {}
