<!--Background-Image-->
<!--<link rel="stylesheet"
      href="https://fonts.google.com/specimen/Poppins?selection.family=Poppins&sidebar.open=true">-->
<section>
  <div class="top">
<div class="background-img">
  <div class="font-slider-text"><p>Mizoso Traders is an IT System Integration<br>
    Professional Service and Software Development<br>
    Company in Pakistan. As a Privately owned<br>
    Company,Mizoso Provides IT Consultancy<br>
    Software Design & Development as well as<br>
    professional Services.</p></div>
</div>
  </div>
</section>
<section>

<!--Services-->
<!--<div class="service-main">-->
  <div class="service-main-heading">SERVICES</div>
  <div class="bound mt100 mb50">

    <div class="hor">

      <div class="ver-sm-6">
        <!--MLSERVICES-->
       <!-- <div class="service-main-heading">SERVICES</div>-->

        <!--<div class="text-center mt30">-->
          <!--<div class="service-logo"></div>-->
        <div class="text-center mt30">
          <div class="top-text text-center" >Machine Learning Services</div>
          <ul>
            <li>Data Science</li>
            <li>Natural Language Processing</li>
            <li>Internet of Things</li>
            <li>Big Data</li>
            <li>Deep Learning</li>
            <li>Computer Vision</li>
          </ul>
        </div>
      </div>
      <div class="ver-sm-6">
        <!--MLSERVICES-->
        <!-- <div class="service-main-heading">SERVICES</div>-->
     <!--   <div class="service-main-heading">SERVICES</div>-->
        <!--<div class="text-center mt30">-->
       <!-- <div class="service-logo"></div>-->
        <div class="text-center mt30">
          <div class="top-text text-center" >E-Commerce Services</div>
          <ul>
            <li>Web & App Development</li>
            <li>UI/UX</li>
            <li>Customer Service</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!--        <div class="ver-sm-6">
          <div class="text-center mt30">
            <div class="service-logo"></div>
            <div>E-Commerce Services</div>
            <ul>
              <li>Web & App Development</li>
              <li>UI/UX</li>
              <li>Customer Service</li>
            </ul>
          </div>

      </div>-->

<!--</div>-->
<!--  <div class="service-main-heading">SERVICES</div>-->

<!--  &lt;!&ndash;MLSERVICES&ndash;&gt;
  <div class="services-ml-ec">
    <div class="service-logo"></div>
    <div >Machine Learning Services</div>
    <ul>
      <li>Data Science</li>
      <li>Natural Language Processing</li>
      <li>Internet of Things</li>
      <li>Big Data</li>
      <li>Deep Learning</li>
      <li>Computer Vision</li>
    </ul>
  </div>-->
 <!-- src="assets/kisspng-online-shopping-shopping-cart-software-e-commerce-sold-out-5ac7156df3a187.9574992715229965899979.jpg"
 --> <!--EcommerceServices-->
<!--  <div class="services-ml-ec">
    <div class="service-logo"></div>
    <div>E-Commerce Services</div>
    <ul>
      <li>Web & App Development</li>
      <li>UI/UX</li>
      <li>Customer Service</li>
    </ul>
  </div>-->

<!--</div>
</section>-->

<section>
<!--Feedback-->
<div class="feedback mb50">
<!--<div>Our Clients About Us</div>-->
  <div class="service-main-heading">Our Clients About Us</div>

  <!--slider-->
 <!-- <img src="assets/review1.PNG">-->
  <div class="ver-lg-12">
    <div class=" bound">
    <img class="feedback-image" src="../../assets/review1.PNG">
    </div>
  </div>


</div>
</section>

<section>
<!--Contact us-->
<div class="contact-us mb50">
<div class="contact-us-main-heading">Lets Talk</div>
  <div class="bound">
    <div class="hor">
  <input placeholder="Name*">
  <input placeholder="Email*"><br>
  <input placeholder="Phone*">
  <input placeholder="Company"><br>
  <textarea placeholder="Message*" class="message"></textarea><br>
  <button class="submit-button">SUBMIT</button>
    </div>
  </div>
</div>
</section>


