.background-img {
  width: 100%;
  height: 700px;
  margin-top: -100px;
  background-image: url("../../assets/blue-technology-circle-and-computer-abstract-vector-22953449.jpg");
}
.font-slider-text {
  text-align: center;
  color: whitesmoke;
  margin-bottom:250px ;
  margin-top: -400px;
  font-size: 1.5vw;
}
.service-main{
  height: 20vh;
}
.service-main h1{
  padding-left: 45%;
  padding-top: 1%;
}
.service-main div {
  float: left;
  padding-left: 25%;
}
.service-main img{
  width: 150px;
  height: 90px;
}
.service-main ul li {
  font-size: large;
}
.feedback{
  margin-top: 250px;
  height:350px;
  background-color: #f7f7f7;
}
.feedback h1{
  padding-left: 45%;
  padding-top: 1.5%;
}
.feedback img{
 margin-left: 31%;
  width:680px;
  height: 220px;
}
.contact-us{
  height: 500px;
  width: 100%;
  background-color:#0461c4;

}
.contact-us h1{
  padding-left: 50%;
  color: whitesmoke;
}
input{
  margin-left:30%;
  margin-top:5%;
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  background-color: #0461c4;
  float: left;
  color: whitesmoke;

}
.message{
 width: 450px;
  margin-left: 40%;
  margin-top:15%;
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  background-color: #0461c4;
  color: whitesmoke;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: whitesmoke;
  opacity: 1; /* Firefox */
}
.submit-button{
margin-left: 40%;
  width: 450px;
  background-color: #03478f;
  height: 5vh;
  color: #dddddd;
}


/*
Responsiveness for Laptops*/
@media screen and (max-width: 1632px) {}
@media screen and (max-width: 1536px) {}
@media screen and (max-width: 1440px) {}
@media screen and (max-width: 1344px) {}

/*Responsiveness for Tablets*/
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 770px) {}


/*Responsiveness for Phones*/
@media screen and (max-width: 375px) {}
@media screen and (max-width: 414px) {}
@media screen and (max-width: 360px) {}

