<!--Background-Image-->
<div class="background-img">
</div>

<!--Image Text-->
<p class="font-slider-text">Mizoso Traders is an IT System Integration<br>
  Professional Service and Software Development<br>
  Company in Pakistan. As a Privately owned<br>
  Company,Mizoso Provides IT Consultancy<br>
  Software Design & Development as well as<br>
  professional Services.</p>

<!--Services-->
<div class="service-main">
  <h1>SERVICES</h1>

  <!--MLSERVICES-->
  <div>
    <img src="assets/kisspng-machine-learning-deep-learning-with-python-artific-cirrascale-cloud-services-deep-learning-classroom-5ca1b3d487e3a2.4562336415541012045566.jpg">
    <h2 >Machine Learning Services</h2>
    <ul>
      <li>Data Science</li>
      <li>Natural Language Processing</li>
      <li>Internet of Things</li>
      <li>Big Data</li>
      <li>Deep Learning</li>
      <li>Computer Vision</li>
    </ul>
  </div>

  <!--EcommerceServices-->
  <div>
    <img src="assets/kisspng-online-shopping-shopping-cart-software-e-commerce-sold-out-5ac7156df3a187.9574992715229965899979.jpg">
    <h2>E-Commerce Services</h2>
    <ul>
      <li>Web & App Development</li>
      <li>UI/UX</li>
      <li>Customer Service</li>
    </ul>
  </div>

</div>

<!--Feedback-->
<div class="feedback">
<h1>Our Clients About Us</h1>

  <!--slider-->
  <img src="assets/review1.PNG" >



</div>

<!--Contact us-->
<div style="height: 500px;background-color: #58a1ff">
<h2 style="margin-left:50%;color: aliceblue">Lets Talk</h2>
  <input placeholder="Name*">
  <input placeholder="Email*"><br>
  <input placeholder="Phone*">
  <input placeholder="Company"><br>
  <input style=" width:500px;left: 5%;" placeholder="Message*">
</div>


