@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
.background-img {
  width: 100%;
  height: 950px;
/*  margin-top: -270px;*/
  background: linear-gradient(to right , #007bff 10%, #00264f 100%)
}

.font-slider-text {
  font-family: sans-serif;
  text-align: center;
  color: #fff;
/*  margin-bottom:250px ;*/
  /*margin-top: -400px;*/
  font-size: 30px;
  padding-top: 14%;
}

.service-main{
  height: 350px;
}
.service-main-heading{
  margin-left: 48%;
  padding-top: 2%;
  font-size: 40px;
  padding-bottom: 3%;

}

.services-ml-ec {
  float: left;
  padding-left: 20%;
}
.service-logo{
  width: 150px;
  height: 90px;
  background: none;
}
.service-main ul li {
  font-size: large;
}

.feedback{
  margin-top: 250px;
  height:450px;
  background-color: #f7f7f7;
}
.feedback h1{
  margin-left: 45%;
  padding-top: 2%;
  font-size: 40px;
  padding-bottom: 3%;
}
.feedback img{
 margin-left: 35%;
  width:680px;
  height: 220px;
}
.contact-us{
  height: 700px;
  width: 100%;
  background: linear-gradient(to right , #007bff 25%, #00264f 100%)

}
.contact-us h1{
  margin-left:48%;
  padding-top: 2%;
  font-size: 40px;
  padding-bottom: 3%;
  color: whitesmoke;
}
input{
  margin-left:30%;
  margin-top:5%;
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  background-color: #0461c4;
  float: left;
  color: whitesmoke;

}
.message{
 width: 450px;
  margin-left: 40%;
  margin-top:15%;
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  background-color: #0461c4;
  color: whitesmoke;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: whitesmoke;
  opacity: 1; /* Firefox */
}
.submit-button{
margin-left: 40%;
  width: 450px;
  background-color: #03478f;
  height: 5vh;
  color: #dddddd;
}


/*
Responsiveness for Laptops*/
@media screen and (max-width: 1632px) {}
@media screen and (max-width: 1536px) {}
@media screen and (max-width: 1440px) {
  .font-slider-text {
    text-align: center;
    color: whitesmoke;
    margin-bottom:250px ;
    margin-top: -400px;
    font-size: 2vw;
  }
}
@media screen and (max-width: 1344px) {
  .feedback{
    margin-top: 270px;
    height:330px;
    background-color: #f7f7f7;
  }
}

/*Responsiveness for Tablets*/
@media screen and (max-width: 1024px) {
  .service-main h1{
    padding-left: 45%;
    padding-top: 2%;
  }
  .service-main div {
    float: left;
    padding-left: 18%;
  }
  .service-main img{
    width: 130px;
    height: 80px;
  }
  .feedback{
    margin-top: 270px;
    height:350px;
    background-color: #f7f7f7;
  }
  .feedback h1{
    padding-left: 40%;
    padding-top: 1.5%;
  }
  .feedback img{
    margin-left: 23%;
    height: 220px;
  }
  .contact-us{
    height: 450px;
    width: 100%;
    background-color:#0461c4;

  }
  .contact-us h1{
    padding-left: 45%;
    color: whitesmoke;
  }
  input{
    margin-left:23%;
    margin-top:6%;
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    background-color: #0461c4;
    float: left;
    color: whitesmoke;

  }
  .message{
    width: 450px;
    margin-left: 35%;
    margin-top:20%;
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    background-color: #0461c4;
    color: whitesmoke;
  }
  .submit-button{
    margin-left: 35%;
    width: 450px;
    background-color: #03478f;
    height: 6vh;
    color: #dddddd;
  }

}
@media screen and (max-width: 770px) {
  .background-img {
    width: 100%;
    height: 650px;
    margin-top: -270px;
    background-image: url("../../assets/blue-technology-circle-and-computer-abstract-vector-22953449.jpg");
  }
  .font-slider-text {
    text-align: center;
    color: whitesmoke;
    margin-bottom:220px ;
    margin-top: -370px;
    font-size: 2.5vw;
  }
  .service-main{
    height: 20vh;
  }
  .service-main h1{
    padding-left: 40%;
    padding-top: 2%;
  }
  .service-main div {
    float: left;
    padding-left: 10%;
  }
  .service-main img{
    width: 120px;
    height: 70px;
  }
  .service-main ul li {
    font-size: large;
  }
  .feedback{
    margin-top: 250px;
    height:300px;
    background-color: #f7f7f7;
  }
  .feedback h1{
    padding-left: 33%;
    padding-top: 1.5%;
  }
  .feedback img{
    margin-left: 10%;
    width:600px;
    height: 200px;
  }
  .contact-us{
    height: 500px;
    width: 100%;
    background-color:#0461c4;

  }
  .contact-us h1{
    padding-left: 40%;
    color: whitesmoke;
  }
  input{
    margin-left:17%;
    margin-top:7%;
    padding:10px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    background-color: #0461c4;
    float: left;
    color: whitesmoke;

  }
  .message{
    width: 300px;
    margin-left: 30%;
    margin-top:23%;
    padding:10px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    background-color: #0461c4;
    color: whitesmoke;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1; /* Firefox */
  }
  .submit-button{
    margin-left: 30%;
    width: 300px;
    background-color: #03478f;
    height: 5.5vh;
    color: #dddddd;
  }



}


/*Responsiveness for Phones*/
@media screen and (max-width: 414px) {
  .background-img {
    width: 100%;
    height: 450px;
    margin-top: -420px;
    background-image: url("../../assets/blue-technology-circle-and-computer-abstract-vector-22953449.jpg");
  }
  .font-slider-text {
    text-align: center;
    color: whitesmoke;
    margin-bottom:80px ;
    margin-top: -150px;
    font-size: 3vw;
  }
  .service-main{
    height: 30vh;
  }
  .service-main-heading{
    padding-left:50%;
    font-size: 44px;
  }
  .service-main div {
    text-align: center;
    padding-left: 10%;
  }
  .service-main img{
    width: 90px;
    height: 50px;
  }
  .service-main ul li {
    font-size: medium;
  }

  .feedback{
    margin-top: 330px;
    height:250px;
    background-color: #f7f7f7;
  }
  .feedback h1{
    padding-left: 10%;
    padding-top: 6%;
  }
  .feedback img{
    margin-left: 5%;
    width:350px;
    height: 130px;
  }
  .contact-us{
    height: 500px;
    width: 100%;
    background-color:#0461c4;

  }
  .contact-us h1{
    padding-left: 32%;
    color: whitesmoke;
  }
  input{
    margin-left:22%;
    margin-top:6%;
    padding:12px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    background-color: #0461c4;
    color: whitesmoke;

  }
  .message{
    width: 200px;
    margin-left: 20%;
    margin-top:25%;
    padding:12px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    background-color: #0461c4;
    color: whitesmoke;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1; /* Firefox */
  }
  .submit-button{
    margin-left: 22%;
    width: 200px;
    background-color: #03478f;
    height: 6vh;
    color: #dddddd;
  }

}
@media screen and (max-width: 375px) {
  .background-img {
    width: 100%;
    height: 450px;
    margin-top: -420px;
    background-image: url("../../assets/blue-technology-circle-and-computer-abstract-vector-22953449.jpg");
  }
  .font-slider-text {
    text-align: center;
    color: whitesmoke;
    margin-bottom:80px ;
    margin-top: -150px;
    font-size: 3vw;
  }
  .service-main{
    height: 30vh;
  }
  .service-main h1{
    padding-left:30%;
  }
  .service-main div {
    text-align: center;
    padding-left: 10%;
  }
  .service-main img{
    width: 90px;
    height: 50px;
  }
  .service-main ul li {
    font-size: medium;
  }

  .feedback{
    margin-top: 330px;
    height:250px;
    background-color: #f7f7f7;
  }
  .feedback h1{
    padding-left: 10%;
    padding-top: 6%;
  }
  .feedback img{
    margin-left: 5%;
    width:350px;
    height: 130px;
  }
  .contact-us{
    height: 500px;
    width: 100%;
    background-color:#0461c4;

  }
  .contact-us h1{
    padding-left: 32%;
    color: whitesmoke;
  }
  input{
    margin-left:22%;
    margin-top:6%;
    padding:12px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    background-color: #0461c4;
    color: whitesmoke;

  }
  .message{
    width: 200px;
    margin-left: 20%;
    margin-top:25%;
    padding:12px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    background-color: #0461c4;
    color: whitesmoke;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1; /* Firefox */
  }
  .submit-button{
    margin-left: 22%;
    width: 200px;
    background-color: #03478f;
    height: 6vh;
    color: #dddddd;
  }

}
@media screen and (max-width: 360px) {
  .background-img {
    width: 100%;
    height: 450px;
    margin-top: -420px;
    background-image: url("../../assets/blue-technology-circle-and-computer-abstract-vector-22953449.jpg");
  }
  .font-slider-text {
    text-align: center;
    color: whitesmoke;
    margin-bottom:80px ;
    margin-top: -150px;
    font-size: 3vw;
  }
  .service-main{
    height: 30vh;
  }
  .service-main h1{
    padding-left:30%;
  }
  .service-main div {
    text-align: center;
    padding-left: 10%;
  }
  .service-main img{
    width: 90px;
    height: 50px;
  }
  .service-main ul li {
    font-size: medium;
  }

  .feedback{
    margin-top: 330px;
    height:250px;
    background-color: #f7f7f7;
  }
  .feedback h1{
    padding-left: 10%;
    padding-top: 6%;
  }
  .feedback img{
    margin-left: 5%;
    width:350px;
    height: 130px;
  }
  .contact-us{
    height: 500px;
    width: 100%;
    background-color:#0461c4;

  }
  .contact-us h1{
    padding-left: 32%;
    color: whitesmoke;
  }
  input{
    margin-left:22%;
    margin-top:6%;
    padding:12px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    background-color: #0461c4;
    color: whitesmoke;

  }
  .message{
    width: 200px;
    margin-left: 20%;
    margin-top:25%;
    padding:12px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    background-color: #0461c4;
    color: whitesmoke;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1; /* Firefox */
  }
  .submit-button{
    margin-left: 22%;
    width: 200px;
    background-color: #03478f;
    height: 6vh;
    color: #dddddd;
  }

}

