.background-img {
  width: 100%;
  height: 700px;
  margin-top: -100px;
  background-repeat: no-repeat;

}
.font-slider-text {
  text-align: center;
  color: black;
  margin-top: -400px;

}
div img {
  width: 200px;
  height: 100px;
  margin-left: 20%;
}
