.background-img {
  width: 100%;
  height: 700px;
  margin-top: -270px;
  background-image: url("../../assets/blue-technology-circle-and-computer-abstract-vector-22953449.jpg");
}
.font-slider-text {
  text-align: center;
  color: whitesmoke;
  margin-bottom:250px ;
  margin-top: -400px;
  font-size: 1.5vw;
}
.service-main{
  height: 20vh;
}
.service-main h1{
  padding-left: 45%;
  padding-top: 1%;
}
.service-main div {
  float: left;
  padding-left: 25%;
}
.service-main img{
  width: 150px;
  height: 90px;
}
.service-main ul li {
  font-size: large;
}
.feedback{
  margin-top: 250px;
  height:350px;
  background-color: #f7f7f7;
}
.feedback h1{
  padding-left: 45%;
  padding-top: 1.5%;
}
.feedback img{
 margin-left: 31%;
  width:680px;
  height: 220px;
}
.contact-us{
  height: 500px;
  width: 100%;
  background-color:#0461c4;

}
.contact-us h1{
  padding-left: 50%;
  color: whitesmoke;
}
input{
  margin-left:30%;
  margin-top:5%;
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  background-color: #0461c4;
  float: left;
  color: whitesmoke;

}
.message{
 width: 450px;
  margin-left: 40%;
  margin-top:15%;
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  background-color: #0461c4;
  color: whitesmoke;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: whitesmoke;
  opacity: 1; /* Firefox */
}
.submit-button{
margin-left: 40%;
  width: 450px;
  background-color: #03478f;
  height: 5vh;
  color: #dddddd;
}


/*
Responsiveness for Laptops*/
@media screen and (max-width: 1632px) {}
@media screen and (max-width: 1536px) {}
@media screen and (max-width: 1440px) {
  .font-slider-text {
    text-align: center;
    color: whitesmoke;
    margin-bottom:250px ;
    margin-top: -400px;
    font-size: 2vw;
  }
}
@media screen and (max-width: 1344px) {
  .feedback{
    margin-top: 270px;
    height:330px;
    background-color: #f7f7f7;
  }
}

/*Responsiveness for Tablets*/
@media screen and (max-width: 1024px) {
  .service-main h1{
    padding-left: 45%;
    padding-top: 2%;
  }
  .service-main div {
    float: left;
    padding-left: 18%;
  }
  .service-main img{
    width: 130px;
    height: 80px;
  }
  .feedback{
    margin-top: 270px;
    height:350px;
    background-color: #f7f7f7;
  }
  .feedback h1{
    padding-left: 40%;
    padding-top: 1.5%;
  }
  .feedback img{
    margin-left: 23%;
    height: 220px;
  }
  .contact-us{
    height: 450px;
    width: 100%;
    background-color:#0461c4;

  }
  .contact-us h1{
    padding-left: 45%;
    color: whitesmoke;
  }
  input{
    margin-left:23%;
    margin-top:6%;
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    background-color: #0461c4;
    float: left;
    color: whitesmoke;

  }
  .message{
    width: 450px;
    margin-left: 35%;
    margin-top:20%;
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    background-color: #0461c4;
    color: whitesmoke;
  }
  .submit-button{
    margin-left: 35%;
    width: 450px;
    background-color: #03478f;
    height: 6vh;
    color: #dddddd;
  }

}
@media screen and (max-width: 770px) {
  .background-img {
    width: 100%;
    height: 650px;
    margin-top: -270px;
    background-image: url("../../assets/blue-technology-circle-and-computer-abstract-vector-22953449.jpg");
  }
  .font-slider-text {
    text-align: center;
    color: whitesmoke;
    margin-bottom:220px ;
    margin-top: -370px;
    font-size: 2.5vw;
  }
  .service-main{
    height: 20vh;
  }
  .service-main h1{
    padding-left: 35%;
    padding-top: 2%;
  }
  .service-main div {
    float: left;
    padding-left: 7%;
  }
  .service-main img{
    width: 120px;
    height: 70px;
  }
  .service-main ul li {
    font-size: large;
  }
  .feedback{
    margin-top: 250px;
    height:300px;
    background-color: #f7f7f7;
  }
  .feedback h1{
    padding-left: 30%;
    padding-top: 1.5%;
  }
  .feedback img{
    margin-left: 1%;
    width:600px;
    height: 200px;
  }
  .contact-us{
    height: 500px;
    width: 100%;
    background-color:#0461c4;

  }
  .contact-us h1{
    padding-left: 35%;
    color: whitesmoke;
  }
  input{
    margin-left:13%;
    margin-top:7%;
    padding:10px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    background-color: #0461c4;
    float: left;
    color: whitesmoke;

  }
  .message{
    width: 300px;
    margin-left: 25%;
    margin-top:23%;
    padding:10px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    background-color: #0461c4;
    color: whitesmoke;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1; /* Firefox */
  }
  .submit-button{
    margin-left: 25%;
    width: 300px;
    background-color: #03478f;
    height: 5.5vh;
    color: #dddddd;
  }



}


/*Responsiveness for Phones*/
@media screen and (max-width: 414px) {
  .background-img {
    width: 150%;
    height: 450px;
    margin-top: -420px;
    background-image: url("../../assets/blue-technology-circle-and-computer-abstract-vector-22953449.jpg");
  }
  .font-slider-text {
    text-align: center;
    color: whitesmoke;
    margin-bottom:80px ;
    margin-top: -200px;
    font-size: 4.5vw;
  }
  .service-main{
    height: 30vh;
  }
  .service-main h1{
    padding-left:22%;
  }
  .service-main div {
    text-align: center;
    padding-left: 2%;
  }
  .service-main img{
    width: 90px;
    height: 50px;
  }
  .service-main ul li {
    font-size: medium;
  }

  .feedback{
    margin-top: 270px;
    height:250px;
    background-color: #f7f7f7;
  }
  .feedback h1{
    padding-left: 5%;
    padding-top: 2%;
  }
  .feedback img{
    margin-left: 1%;
    width:350px;
    height: 130px;
  }
  .contact-us{
    height: 500px;
    width: 100%;
    background-color:#0461c4;

  }
  .contact-us h1{
    padding-left: 30%;
    color: whitesmoke;
  }
  input{
    margin-left:18%;
    margin-top:6%;
    padding:12px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    background-color: #0461c4;
    color: whitesmoke;

  }
  .message{
    width: 200px;
    margin-left: 17%;
    margin-top:23%;
    padding:12px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    background-color: #0461c4;
    color: whitesmoke;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1; /* Firefox */
  }
  .submit-button{
    margin-left: 19%;
    width: 200px;
    background-color: #03478f;
    height: 6vh;
    color: #dddddd;
  }

}
@media screen and (max-width: 375px) {}
@media screen and (max-width: 360px) {}

