
<div class="background-img">
</div>
<p class="font-slider-text">Mizoso Traders is an IT System Integration<br>
  Professional Service and Software Development<br>
  Company in Pakistan. As a Privately owned<br>
  Company,Mizoso Provides IT Consultancy<br>
  Software Design & Development as well as<br>
  professional Services.</p>
<!--Services-->
<div style="margin-left: 20%">
  <h2 style="text-align: center">SERVICES</h2>
  <!--MLSERVICES-->
  <div style="float: left"><img src="assets/kisspng-machine-learning-deep-learning-with-python-artific-cirrascale-cloud-services-deep-learning-classroom-5ca1b3d487e3a2.4562336415541012045566.jpg">
    <h3 style="margin-left: 20%">Machine Learning Services</h3><br>
    <ul style="margin-left: 20%">
      <li>Data Science</li>
      <li>Natural Language Processing</li>
      <li>Internet of Things</li>
      <li>Big Data</li>
      <li>Deep Learning</li>
      <li>Computer Vision</li>
    </ul>
  </div>
  <!--EcommerceServices-->
  <div ><img src="assets/kisspng-online-shopping-shopping-cart-software-e-commerce-sold-out-5ac7156df3a187.9574992715229965899979.jpg">
    <h3 style="margin-left: 40%">E-Commerce Services</h3><br>
    <ul style="margin-left: 40%">
      <li>Web & App Development</li>
      <li>UI/UX</li>
      <li>Customer Service</li>
    </ul>
  </div>
</div>
<!--Feedback-->
<div>
<h2 style="margin-left: 40%">Our Clients About Us</h2>
  <!--slider-->
  

</div>

<!--Contact -->
<div>

</div>
