html, body {
  height: 100%;
}
div {
  width: 100%;
  height: 100%;
  background: #ddd;
}
/* width */
/*::-webkit-scrollbar {
  width: 10px;
}

!* Track *!
::-webkit-scrollbar-track {
  background: blue;
}

!* Handle *!
::-webkit-scrollbar-thumb {
  background: darkblue;
}

!* Handle on hover *!
::-webkit-scrollbar-thumb:hover {
  background: midnightblue;
}*/
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: midnightblue;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 20px darkblue;
}
